<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Photo Gallery</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
        form {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -125px 0 0 -125px;
        }

        img {
            margin: 5px;
        }
    </style>
    <style th:if="${black}">
        .blackback {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body class="blackback">
<div th:if="${main}">
    <form id="form" action="/photo" method="post" class="form-horizontal">
        <table>
            <tr>
                <td><p class="text-center">Type your pic folder</p></td>
            </tr>
            <tr>
                <td><input type="text" name="path" class="form-control" required="required"/></td>
            </tr>
            <tr>
                <td><p class="text-center">and create your gallery</p></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-submit center-block">Create gallery</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:if="${gallery}" class="center-block text-center">
    <p class="text-center">
    <h3>The Photos has been uploaded!</h3></p>

    <span th:each="id : ${Ids}">
        <div th:if="${id}%${row}==0"></div>

        <img th:height="${height}" th:width="${width}"
             th:src="@{'/photo/image/'+${id}}"/>
    </span>
    <p class="text-center">
    <h3>Number of uploaded photos: <span th:text="${size}"></span></h3></p>
</div>
</body>
</html>
