<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
        form {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -125px 0 0 -125px;
        }
    </style>

</head>
<body class="blackback">
<div th:if="${black}">
    <style type="text/css">
        .blackback {
            background-color: black;
            color: white;
        }
    </style>
</div>
<div th:if="${main}">
    <form id="form" action="/photo" method="post" class="form-horizontal">
        <table>
            <tr><td><p>Type your pic folder</p></td></tr>
            <tr>
                <td><input type="text" id="path" name="path" class="form-control"/></td>
            </tr>
            <tr><td><p>and create your gallery</p></td></tr>
            <tr><td>
                    <button type="submit" id="create" class="btn btn-info">Create gallery</button>
            </td></tr>
        </table>
    </form>
</div>
<div th:if="${post}">
    <div th:each="count : ${counts}">
        <div>
            <img th:height="${height}" th:width="${width}"
                 th:src="@{'/photo/image/'+${count}}"/>
        </div>
    </div>
</div>
</body>
</html>
